.dropdown-container {
  position: relative; 
}

.dropdown-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem 0;
  color: #6b7280;
  font-weight: 600;
}

/* .dropdown-menu {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: white;
  border: 1px solid #d1d5db;
  margin: 0 auto;
  border-radius: 0.5rem;
  opacity: 0;
  pointer-events: none;
  display: none;
  z-index: 100;
  transition: all 0.2s ease;
}

.dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
  display: block;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 480px;
  max-height: 85vh;
  overflow-y: auto;
}
